<div class="container w-25" >
  <div class="card mt-4">
    <div class="card-header d-flex justify-content-center">
      <h2>Area de Edição</h2>
    </div>
    <div class="card-body">
      <%= form_with(model: meeting, local: false) do |form| %>
        <% if meeting.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

            <ul>
              <% meeting.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form.text_field :start_date, value:meeting.start_date, type: :hidden %>
        <%= form.text_field :start_time, value:meeting.start_time, type: :hidden %>

        <div class="mb-3">
          <span class= 'form-control'>Data: <%= meeting.start_date %></span>
        </div>
        <div class="mb-3">
          <span class= 'form-control'>Hora: <%= meeting.start_time.strftime("%H")+":00" %></span>
        </div>

        <div class="mb-3">
          <%= form.label :description, "Descrição" %>
          <%= form.text_area :description, class: 'form-control' %>
        </div>

        <%= form.text_field :user_id, id: :meeting_user_id, class: 'form-control', value:current_user.id, type: :hidden %>

        <div class="actions mb-3">
          <%= form.submit class: "btn btn-primary"%>
        </div>
      <% end %>
      <div class ="d-flex justify-content-between">
        <%= link_to '<button type="button" class="btn btn-danger">Voltar</button>'.html_safe, meetings_path %>
        <%= link_to '<button type="button" class="btn btn-primary">Exibir</button>'.html_safe, @meeting %>
      </div>
    </div>
  </div>
</div>


  
