<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @meeting.start_date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time.strftime("%H:%M") %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>


<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
