<p id="notice"><%= notice %></p>
<% horaConvertidaBrasil = @meeting.start_date.to_s+" "+@meeting.start_time.strftime("%H:%M")+" -3"%>
<p>
  <strong>Start date:</strong>
  <%= @meeting.start_date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time.strftime("%H:%M") %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<% if @currentTime < horaConvertidaBrasil && current_user.id == @meeting.user_id%>
  <%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<% end %>

<%= link_to 'Back', meetings_path %>
