<div class="container w-25" >
  <div class="card mt-4">
    <div class="card-header d-flex justify-content-center">
      <h2>Entrar</h2>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="mb-3">
          <%= f.label :email, class: "form-label " %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control",placeholder: "name@example.com" %>
        </div>

        <div class="mb-3">
          <%= f.label :password ,class: "form-label"%>
          <%= f.password_field :password, autocomplete: "current-password" ,class: "form-control"%>
        </div>

        <div class="mb-3">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>