<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid d-flex bd-highlight">
    <div class="p-2 flex-grow-1 bd-highlight">
      <%= link_to 'Reuniões', root_path, class:"navbar-brand" %>
    </div>
    
    <div class="nav-link p-2 bd-highlight" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">

        <% if user_signed_in? %>
          
          <li>
            <%= link_to 'Sair', destroy_user_session_path,method: :delete, class:"nav-link p-2 bd-highlight" %>
          </li>
          <li>
            <span class="nav-link disabled p-2 bd-highlight"><%= current_user.username %></span>
          </li>
        <% else %>
          <li>
            <%= link_to 'Cadastrar', new_user_registration_path, class:"nav-link p-2 bd-highlight" %>
          </li>

          <li>
            <%= link_to 'Entrar', new_user_session_path, class:"nav-link p-2 bd-highlight" %>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>